@import '../../styles/_colors';

$chat-title-shadow: darken($accent-color, 75.29);

#chat-title {
  display: grid;
  align-content: center;
  float: left;
  align-items: center;
  grid-area: chat-title;
  background: $accent-color;
  color: $primary-color;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 3px -1px $chat-title-shadow;
  padding: 0 20px;
  z-index: 1;
}